# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Django-related files and directories
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/



# Environment variables
.env

# Virtual environment
sclone/venv/
sclone/env/
sclone/.vscode
